<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.starnet.erp.fc.dao.IncomeDao">

    <resultMap type="com.alibaba.fastjson.JSONObject" id="resultObj"></resultMap>

    <select id="queryPage" parameterType="com.alibaba.fastjson.JSONObject" resultType="net.starnet.erp.fc.model.Income">
        SELECT i.* from fc_income i left join
        uc_customer c on i.customerId = c.id WHERE 1 = 1
        <!-- 根据 “单据编号”、“客户编号”、“客户名称” 查询！ -->
        <if test="query.name != null and query.name != ''">
            AND (
            i.`code` LIKE concat('%', #{query.name}, '%') OR
            c.`code` LIKE concat('%', #{query.name}, '%') OR
            c.`name` LIKE concat('%', #{query.name}, '%')
            )
        </if>
        <!-- 根据 “startDate” <= “单据日期”fc_income.issueDate <= “endDate” 查询！ -->
        <if test="query.startDate != null and query.startDate != ''">
            AND i.`issueDate` <![CDATA[ >= ]]> #{query.startDate}
        </if>
        <if test="query.endDate != null and query.endDate != ''">
            AND i.`issueDate` <![CDATA[ <= ]]> #{query.endDate}
        </if>
        <!-- 根据 “createdTime” 降序！ -->
        ORDER BY i.createdTime DESC
    </select>

</mapper>